## توصیه فیلم به کاربر با استفاده از روش Content Based

In [52]:
import pandas as pd
import numpy as np

In [53]:
movies_df = pd.read_csv("movies.csv")
ratings_df = pd.read_csv("ratings.csv")

movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### با توجه به چند داده ابتدایی که در بالا مشاهده می کنیم، قصد داریم تا سال انتشار فیلم را که در ستون title قرار دارد را از آن جدا کنیم و به ستون دیگری با نام year انتقال بدهیم.

In [54]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df.title.apply(lambda x: x.strip())
movies_df.head()

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/1422495819.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

### همینطور مقادیر ستون genres را به صورت لیست نمایش می دهیم.

In [55]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

### حال به ازای هر ژانر موجود در دیتا یک ستون به آن اضافه می کنیم و اگر فیلمی شامل آن ژانر بود در محل مربوطه مقدار 1 قرار می دهیم و مقدار عددی 0 را بجای مقادیر nan قرار می دهیم.

In [56]:
moviesWithGenres_df = movies_df.copy()

for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
    
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [58]:
ratings_df = ratings_df.drop("timestamp", 1)
ratings_df.head()

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/254338903.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ratings_df = ratings_df.drop("timestamp", 1)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

### فرض می کنیم فیلم هایی که کاربر مورد نظر به آن ها امتیاز داده است به صورت زیر است.

In [59]:
userInput = [
    {'title':'Breakfast Club, The', 'rating':5},
    {'title':'Toy Story', 'rating':3.5},
    {'title':'Jumanji', 'rating':2},
    {'title':'Pulp Fiction', 'rating':5},
    {'title':'Akira', 'rating':4.5}
]

inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

### movieId فیلم هایی که کاربر موردنظر به آنها امتیاز داده است را به این صورت استخراج می کنیم که از تمامی فیلم های موجود(یعنی movies_df) و از ستون "title" فیلم هایی را که titleشان با title فیلم های کاربر یکی است را انتخاب میکنیم و در inputId قرار می دهیم. سپس آن را با inputMovies مرج میکنیم و ستون "year" و "genres" را از آن حذف می کنیم.

In [60]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
inputMovies

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/2584586099.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

### همینطور ژانر فیلم هایی که کاربر مورد نظر به آن ها امتیاز داده است را به این صورت استخراج می کنیم که از moviesWithGenres_df که آنهایی را که movieId شان با یکی از movieId های فیلم های کاربر مورد نظر یکی است را بدست می آوریم.

In [61]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",1988,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1445,1968,"Breakfast Club, The","[Comedy, Drama]",1985,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/638483878.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

### با ضرب امتیاز هایی که کاربر به فیلم های موردنظرش داده در ژانر آن ها، userProfile را بدست می آوریم.

In [64]:
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

### ماتریس genreTable که ماتریس ژانرها و متشکل از تمامی فیلم ها هست را تشکیل می دهیم.

In [65]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])

genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/625636090.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### recommendationTable_df را به صورت زیر بدست می آوریم که در واقع شامل فیلم ها و امتیازی احتمالی است که کاربر موردنظر به آنها می داده است.

In [66]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

### حال آنرا به صورت نزولی مرتب میکنیم تا بتوانیم فیلم هایی را که بیشترین شباهت به سلیقه کاربر موردنظرمان را دارند را در ابتدای آن داشته باشیم.

In [67]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
134853    0.734266
148775    0.685315
117646    0.678322
6902      0.678322
81132     0.671329
dtype: float64

### اکنون می توانیم به تعداد دلخواه فیلم هایی را به کاربر مورد نظرمان پیشنهاد کنیم.

In [68]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(15).keys())]

,movieId,title,genres,year
559,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996
1390,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998
2250,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
4631,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976
5819,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
6047,40339,Chicken Little,"[Action, Adventure, Animation, Children, Comed...",2005
6448,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
7441,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
8349,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",2012
8357,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
8597,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
8806,130520,Home,"[Adventure, Animation, Children, Comedy, Fanta...",2015
8900,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",2015
9169,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009

### روش Collaborative Filtering:

In [69]:
from math import sqrt

In [70]:
movies_df = pd.read_csv("movies.csv")
ratings_df = pd.read_csv("ratings.csv")

movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [71]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df.title.apply(lambda x: x.strip())
movies_df.head()

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/1422495819.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

### در این روش به ستونی که مربوط به ژانر فیلم ها است نیازی نداریم و آن را از دیتایمان حذف می کنیم:

In [72]:
movies_df = movies_df.drop('genres', 1)
movies_df.head()

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/1727178456.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  movies_df = movies_df.drop('genres', 1)

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [73]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### ستون timestamp را که کاربردی در این روش ندارد از ratings_df حذف می کنیم:

In [74]:
ratings_df = ratings_df.drop('timestamp', 1)

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/2083535515.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ratings_df = ratings_df.drop('timestamp', 1)

In [75]:
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

### فرض می کنیم فیلم ها و امتیازی که کاربر به آن ها داده است به صورت زیر باشد(userInput)، آن را به صورت دیتافریم در می آوریم و در متغیر inputMovies قرار می دهیم.

In [76]:
userInput = [
    {'title':'Breakfast Club, The', 'rating':5},
    {'title':'Toy Story', 'rating':3.5},
    {'title':'Jumanji', 'rating':2},
    {'title':'Pulp Fiction', 'rating':5},
    {'title':'Akira', 'rating':4.5}
]

inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

### movieId فیلم هایی که کاربر موردنظر به آنها امتیاز داده است را به این صورت استخراج می کنیم که از تمامی فیلم های موجود(یعنی movies_df) و از ستون "title" فیلم هایی را که titleشان با title فیلم های کاربر یکی است را انتخاب میکنیم و در inputId قرار می دهیم. سپس آن را با inputMovies مرج میکنیم و ستون "year" را از آن حذف می کنیم.

In [77]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('year', 1)
inputMovies

C:\Users\rqase\AppData\Local\Temp/ipykernel_6868/666924825.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inputMovies = inputMovies.drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [78]:
inputId

      movieId                title  year
0           1            Toy Story  1995
1           2              Jumanji  1995
257       296         Pulp Fiction  1994
973      1274                Akira  1988
1445     1968  Breakfast Club, The  1985

In [79]:
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

### حال از ratings_df یوزر هایی را پیدا می کنیم که به یکی از فیلم های موجود در لیست فیلم هایی که کاربر مورد نظر به آن ها امتیاز داده است، امتیاز داده باشد. به این صورت که از ستون "movieId" مربوط به ratings_df آنهایی را که movieIdشان یکی از movieIdهایی است که کاربر مورد نظر به آن ها امتیاز داده است را جدا میکنیم و آن ها را در userSubset قرار می دهیم.

In [80]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
0         1        1     4.0
16        1      296     3.0
320       4      296     1.0
422       4     1968     4.0
516       5        1     4.0

### با استفاده از تابع groupby یوزرهای موجود در userSubset را بر اساس "userId" گروه بندی می کنیم و در userSubsetGroup قرار می دهیم.

In [81]:
userSubsetGroup = userSubset.groupby(['userId'])

### userSubsetGroup را به صورتی مرتب می کنیم که یوزرهایی که بیشترین فیلم مشترک با کاربر موردنظر را دادند در بالا قرار بگیریند.

In [82]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

### در زیر سه ردیف اول را مشاهده می کنیم.

In [83]:
userSubsetGroup[0:3]

[(91,
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0),
 (177,
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5),
 (219,
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0)]

### صد ردیف اول از userSubsetGroup را در نظر می گیریم که در واقع صد  یوزری هستند که بیشترین فیلم مشترک را با کاربر موردنظر داشته اند.

In [84]:
userSubsetGroup = userSubsetGroup[0:100]

### بدست آوردن شباهت یوزرها به کاربر موردنظر با استفاده از pearson Correlation:

In [85]:
#مقدار همبستگی پیرسون را در یک دیکشنری قرار می دهیم به این صورت که کلید ها یوزر آی دی هستند و مقادیرشان ضرایب هستند
pearsonCorrelationDict = {}


for name, group in userSubsetGroup:
   
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    
    nRatings = len(group)
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    tempRatingList = temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    #حال مقدار همبستگی پرسون بین هر دو کاربر را محاسبه می کنیم
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #اگر یکی از متغیرهای مخرج کسر برابر صفر بود مقدار همبستگی پیرسون را برابر صفر قرار میدهیم و در غیر این صورت آن را محاسبه می کنیم
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [50]:
pearsonCorrelationDict

{91: 0.43852900965351443,
 177: 0.0,
 219: 0.45124262819713973,
 274: 0.716114874039432,
 298: 0.9592712306918567,
 414: 0.9376144618769914,
 474: 0.11720180773462392,
 477: 0.4385290096535153,
 480: 0.7844645405527362,
 483: 0.08006407690254357,
 599: 0.7666866491579839,
 608: 0.920736884379251,
 50: 0.15713484026367722,
 57: -0.7385489458759964,
 68: 0.0,
 103: 0.5222329678670935,
 135: 0.8703882797784892,
 182: 0.9428090415820635,
 202: 0.5222329678670935,
 217: 0.30151134457776363,
 226: 0.9438798074485389,
 288: 0.6005325641789633,
 307: 0.9655810287305759,
 318: 0.44486512077567225,
 322: 0.5057805388588731,
 330: 0.9035942578600878,
 357: 0.5606119105813882,
 434: 0.9864036607532465,
 448: 0.30151134457776363,
 469: 0.8164965809277261,
 561: 0.5222329678670935,
 600: 0.18442777839082938,
 606: 0.9146591207600472,
 610: -0.47140452079103173,
 18: 1.0,
 19: -0.5,
 21: 0,
 45: 0.5000000000000009,
 63: -0.4999999999999982,
 64: 0.0,
 66: 0.5000000000000009,
 107: -1.0,
 122: 0.8660254037844387,
 132: 1.0000000000000004,
 140: 0.5,
 141: 0,
 144: 1.0,
 153: 0.8660254037844379,
 156: 0.1889822365046138,
 160: 0.8660254037844402,
 166: -0.6546536707079772,
 198: 0.0,
 200: 0.7559289460184552,
 201: 0,
 232: 0.6546536707079778,
 240: -0.8660254037844386,
 249: 0,
 266: 0.5,
 275: -0.4999999999999982,
 282: -1.000000000000007,
 292: -1.0000000000000018,
 294: 0.5000000000000009,
 304: 0.8660254037844356,
 305: 1.0,
 313: -0.4999999999999929,
 323: 0.0,
 328: -0.5000000000000002,
 353: 0.8660254037844356,
 359: 0.8660254037844448,
 372: 0.142857142857144,
 373: 0.866025403784439,
 380: 0,
 381: 0.6546536707079778,
 387: -0.18898223650461649,
 391: 0.8660254037844387,
 411: 0.8660254037844356,
 425: 0.8660254037844387,
 432: -0.8660254037844386,
 462: 0.8029550685469661,
 470: 0.0,
 476: -0.8660254037844402,
 484: 0.7205766921228925,
 489: 1.0,
 500: 0,
 504: 0,
 514: 0,
 525: 1.0,
 555: 0.5000000000000009,
 559: -0.5,
 560: 0.9819805060619666,
 562: 0.9999999999999858,
 570: 0.8660254037844448,
 573: 0.8660254037844264,
 590: 0.9607689228305233,
 603: 0.052414241836095235,
 604: 0.0,
 605: -0.7205766921228919,
 607: 0.0,
 1: -1.0,
 4: 0,
 5: 1.0,
 6: -1.0,
 8: 0,
 15: 1.0,
 17: 1.0,
 23: -1.0,
 27: -1.0,
 32: 1.0,
 33: 1.0,
 39: 0,
 40: 0,
 42: 0,
 43: -1.0,
 54: 0,
 62: 1.0,
 76: 1.0,
 78: 0,
 82: -1.0,
 93: -1.0,
 94: 0,
 95: -1.0,
 96: 0,
 100: 0,
 105: 1.0,
 112: 1.0,
 117: 1.0,
 119: 1.0,
 121: 0,
 124: 1.0,
 125: 1.0,
 130: 1.0,
 134: 1.0,
 137: -1.0,
 145: -1.0,
 149: 0,
 155: -1.0,
 159: -1.0,
 167: -1.0,
 169: 1.0,
 171: 0,
 178: 1.0,
 179: 0,
 186: 0,
 187: 1.0,
 191: 1.0,
 193: 1.0,
 195: 0,
 197: 0,
 212: 0,
 215: 0,
 216: -1.0,
 220: 0,
 221: 1.0,
 222: 1.0,
 223: -1.0,
 229: 0,
 230: 0,
 233: 1.0,
 239: 1.0,
 247: -1.0,
 254: 1.0,
 260: 1.0,
 263: -1.0,
 273: -1.0,
 276: 0,
 279: 1.0,
 284: 0,
 285: 0,
 290: 1.0,
 314: -1.0,
 325: 0,
 332: 0,
 334: 1.0,
 336: 1.0,
 339: -1.0,
 346: 0,
 347: 1.0,
 354: 0,
 367: 0,
 368: 0,
 370: 0,
 382: 1.0,
 385: 0,
 395: 0,
 399: 1.0,
 420: 0,
 422: -1.0,
 424: 0,
 426: -1.0,
 428: 0,
 436: 0,
 443: 0,
 446: 1.0,
 447: 0,
 453: 0,
 458: 0,
 460: -1.0,
 468: -1.0,
 471: -1.0,
 482: -1.0,
 490: 1.0,
 503: 0,
 509: -1.0,
 512: 1.0,
 517: 1.0,
 522: 1.0,
 527: 1.0,
 528: 1.0,
 534: -1.0,
 558: 0,
 563: 1.0,
 566: 0,
 567: -1.0,
 580: 1.0,
 584: -1.0,
 587: 0,
 592: 0,
 596: -1.0,
 597: 1.0,
 602: 1.0,
 609: 1.0,
 7: 0,
 10: 0,
 14: 0,
 16: 0,
 20: 0,
 24: 0,
 26: 0,
 28: 0,
 29: 0,
 31: 0,
 37: 0,
 38: 0,
 41: 0,
 44: 0,
 46: 0,
 47: 0,
 51: 0,
 56: 0,
 58: 0,
 67: 0,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 81: 0,
 84: 0,
 86: 0,
 89: 0,
 90: 0,
 98: 0,
 99: 0,
 102: 0,
 104: 0,
 108: 0,
 109: 0,
 110: 0,
 115: 0,
 118: 0,
 123: 0,
 126: 0,
 129: 0,
 131: 0,
 133: 0,
 136: 0,
 142: 0,
 143: 0,
 151: 0,
 152: 0,
 161: 0,
 162: 0,
 168: 0,
 170: 0,
 173: 0,
 174: 0,
 176: 0,
 181: 0,
 185: 0,
 192: 0,
 199: 0,
 203: 0,
 204: 0,
 206: 0,
 210: 0,
 211: 0,
 213: 0,
 214: 0,
 224: 0,
 227: 0,
 231: 0,
 234: 0,
 235: 0,
 241: 0,
 242: 0,
 246: 0,
 251: 0,
 252: 0,
 259: 0,
 261: 0,
 262: 0,
 264: 0,
 268: 0,
 269: 0,
 270: 0,
 277: 0,
 280: 0,
 283: 0,
 286: 0,
 287: 0,
 291: 0,
 293: 0,
 295: 0,
 296: 0,
 299: 0,
 301: 0,
 302: 0,
 308: 0,
 309: 0,
 317: 0,
 321: 0,
 326: 0,
 331: 0,
 335: 0,
 337: 0,
 338: 0,
 340: 0,
 341: 0,
 343: 0,
 348: 0,
 349: 0,
 350: 0,
 351: 0,
 352: 0,
 356: 0,
 362: 0,
 363: 0,
 364: 0,
 365: 0,
 371: 0,
 374: 0,
 377: 0,
 378: 0,
 379: 0,
 384: 0,
 386: 0,
 389: 0,
 396: 0,
 400: 0,
 401: 0,
 402: 0,
 403: 0,
 404: 0,
 405: 0,
 409: 0,
 410: 0,
 412: 0,
 413: 0,
 415: 0,
 416: 0,
 417: 0,
 418: 0,
 419: 0,
 423: 0,
 427: 0,
 433: 0,
 437: 0,
 438: 0,
 440: 0,
 441: 0,
 444: 0,
 445: 0,
 451: 0,
 452: 0,
 454: 0,
 456: 0,
 463: 0,
 464: 0,
 475: 0,
 479: 0,
 486: 0,
 488: 0,
 492: 0,
 497: 0,
 498: 0,
 501: 0,
 513: 0,
 519: 0,
 523: 0,
 524: 0,
 526: 0,
 529: 0,
 533: 0,
 540: 0,
 541: 0,
 542: 0,
 544: 0,
 550: 0,
 551: 0,
 552: 0,
 553: 0,
 564: 0,
 565: 0,
 568: 0,
 569: 0,
 572: 0,
 574: 0,
 575: 0,
 577: 0,
 579: 0,
 583: 0,
 585: 0,
 586: 0,
 588: 0,
 589: 0,
 593: 0,
 594: 0,
 601: 0}

### از دیکشنری که در بالا بدست آوردیم یک دیتا فریم می سازیم:

In [86]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.438529      91
1         0.000000     177
2         0.451243     219
3         0.716115     274
4         0.959271     298

### حال pearsonDF را برا اساس ستون "similarityIndex" و به صورت نزولی(ascending=False) مرتب می کنیم.

In [87]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
43              1.0     132
34              1.0      18
63              1.0     305
82              1.0     489
86              1.0     525

### topUsers را با ratings_df جایی که userId هاشون یکی باشند مرج میکنیم.

In [88]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0     132        1     2.0
1              1.0     132       17     3.0
2              1.0     132       29     2.0
3              1.0     132       32     3.0
4              1.0     132       34     1.5

### یک ستون جدید به topUserRating به نام "weightedRating" اضافه میکنیم که حاصل ضرب ستون "similarityIndex" در "rating" است.

In [89]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0     132        1     2.0             2.0
1              1.0     132       17     3.0             3.0
2              1.0     132       29     2.0             2.0
3              1.0     132       32     3.0             3.0
4              1.0     132       34     1.5             1.5

### حال با استفاده از تابع sum ستون های "similarityIndex" و "weightedRating" را بر اساس movieIdشان جمع میکنیم تا برای هر فیلم مجموع similarityIndex و weightedRating را بدست بیاوریم.

In [90]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  36.354096          133.167946
2                  31.005292           94.904257
3                   8.783859           26.381456
4                   0.866025            1.732051
5                   7.165336           19.775255

In [91]:
#یک دیتافریم جدید اسجاد میکنیم
recommendation_df = pd.DataFrame()
#مقدار میانگین وزنی را حساب میکنیم
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.663080        1
2                                     3.060905        2
3                                     3.003402        3
4                                     2.000000        4
5                                     2.759850        5

### recommendation_df را به صورت نزولی مرتب می کنیم تا فیلم هایی را که کاربر مورد نظر به احتمال زیاد بیشتر می پسندد در بالای دیتافریم قرار بگیرند.

In [92]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
3310                                       5.0     3310
7579                                       5.0     7579
905                                        5.0      905
1211                                       5.0     1211
140627                                     5.0   140627
4298                                       5.0     4298
152711                                     5.0   152711
633                                        5.0      633
5537                                       5.0     5537
5485                                       5.0     5485

### از movies_df و با استفاده از تابع loc که ورودی آن movieId هایی است که با 10 تا movieId ابتدایی recommendation_df یکی است، 10 فیلمی که احتمالا کاربر مورد نظر بیشتر می پسندد را بدست می آوریم.

In [93]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

      movieId                                      title  year
536       633                            Denise Calls Up  1995
687       905                      It Happened One Night  1934
912      1211  Wings of Desire (Himmel über Berlin, Der)  1987
2484     3310                                   Kid, The  1921
3189     4298         Rififi (Du rififi chez les hommes)  1955
3905     5485                                    Tadpole  2002
3936     5537                                Satin Rouge  2002
4969     7579                        Pride and Prejudice  1940
9022   140627                      Battle For Sevastopol  2015
9234   152711                    Who Killed Chea Vichea?  2010